/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 27, 2015, 10:49:28 AM
    Author     : FernandoEnrique
*/
body {
    background-color: #D5D5D4;
    background-attachment: fixed;
    background-size: cover;    
}

.negocios {
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: #C1C1C1;
    display: inline-block;
    margin-top: 10px; 
    border-radius: 5px;
    background-color: #F3F3F3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.negocios ul {
    list-style: none;
}

.producto {
    border-style: solid;
    border-width: 0.5px;
    border-color: #C1C1C1;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 7px;
    background-color: #F3F3F3;
    float: right;
}

.imagenArticulo {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.imagenArticulo img {
    max-width:100%;
    max-height:100%;
}

.detallesArticulo {
    border-style: solid;
    border-width: 5px;
    text-align: left;
}

.detallesArticulo input {
    width: 50px;
    text-align: center;
}

.comentarios {
    text-align: left;
    border-style: solid;
    border-width: 5px;
    padding: 25px;
    margin-top: 10px;
}

.comentarios .comentariosClientes ul {
    list-style: none;
}

form {
    margin-top: 10px;
    border-style: solid;
    border-width: 5px;
}

form textarea {
    resize: none;   
    color: black;
}

footer {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    margin-top: 15px;
    border-radius: 7px;
}
