/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2015, 8:09:42 AM
    Author     : FernandoEnrique
*/
html, body {
    height: 100%;   
}
body {
  min-height: 2000px;
  padding-top: 70px;
}
.carousel {
    padding-top: 10px;
    overflow: hidden;
    width: 100%;
    height: 130%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-image:url('../imagenes/fondo1.jpg');
    background-attachment: fixed;
}
.item, .active {
    height: 100%;
    overflow: hidden;
    width: 80%;
}

.carousel-inner {
    height: 100%;
}
.carousel-caption { 
    overflow: hidden;
    top: 5%;
    margin-top: 35px;
    padding-bottom: 80px;
    padding-right: 0px;
    width: 80%;
    height: 150%;
    /*    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
        -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
        box-shadow: 0px 10px 14px -7px #3e7327;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
        background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
        background-color:#77b55a;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        border:1px solid #4b8f29;*/
    color:#ffffff;
    font-family:Arial;
}
.carousel-indicators {
    margin-left: -170px;
    background-color: transparent;
    padding: 10px;
    display: table;
    width: auto;
    top: 0%;
}
.carousel-indicators li {
    -webkit-border-radius: 0;
    border-radius: 0;
    display: table-cell;
    height: auto;
    width: auto;
}
.carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
.carousel-indicators li.active img {
    opacity: 1;
}
.carousel-indicators li:hover img {
    opacity: 0.75;
    position:relative;
    bottom: 5px;
}
.carousel-control {
    background-image: none;
    width: 5%;
}
ul.dropdown-cart{
    min-width:275px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
.menu {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #8B4D32;
    border-radius: 5px;
    padding-left: 0;
    height: auto;
}
.menu ul {
    float: left;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
}
.articulo {
    margin-right: 0px;
    margin-left: 15px;
    background-color: #0C9090;
    border-radius: 5px;
    overflow: auto;
}
.imagenArticulo {
    float: left;
    margin-bottom: 10px;
}
.imagenArticulo img {
    max-width:100%;
    max-height:100%;
}
.detallesArticulo {
    float: right;
    padding: 3px;
    text-align: left;
}
.detallesArticulo input {
    color: black;
    width: 50px;
}
.detallesArticulo button {
    float: right;
}
section{
    height: 100%;
}
.comentariosClientes  {
    text-align: left;
}
.comentarios ul {
    list-style: none;
}
form {
    margin-bottom: 15px;  
}
textArea, select {
    resize: none;   
    color: black;
}
.footer{
    z-index: 999;
    margin-top: 50px;
}