/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 27, 2015, 10:49:28 AM
    Author     : FernandoEnrique
*/
.negocios {
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    margin-top: 10px; 
}

.negocios ul {
    list-style: none;
}

.producto {
    border-style: solid;
    border-width: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.imagenArticulo {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.imagenArticulo img {
    max-width:100%;
    max-height:100%;
}

.detallesArticulo {
    border-style: solid;
    border-width: 5px;
}

.comentarios {
    text-align: left;
    border-style: solid;
    border-width: 5px;
    padding: 25px;
    margin-top: 10px;
}

.comentarios .comentariosClientes ul {
    list-style: none;
}

form {
    margin-top: 10px;
    border-style: solid;
    border-width: 5px;
}