/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2015, 8:09:42 AM
    Author     : FernandoEnrique
*/
html, body {
    height: 100%;   
}

.barra {
    z-index: 99;
    background-color:#599bb3;
    height: 7%;
    width: 100%;
    text-align: left;
    text-indent: inherit;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 30px;
}

.barra a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.der {
    float: right;
}

.carousel {
    height: 93%;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-image:url('../imagenes/fondo1.jpg');
}

.item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/*.fondo {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}*/

/*#uno {
    background-image:url('../imagenes/fondo1.jpg');
    background: transparent;
}

#dos {
    background-image:url('../imagenes/fondo2.jpg');
    background: transparent;
}

#tres {
    background-image:url('../imagenes/fondo3.jpg');
    background: transparent;
}*/

.carousel-caption {
    height: 95%;
    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
    box-shadow: 0px 10px 14px -7px #3e7327;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #4b8f29;
    color:#ffffff;
    font-family:Arial;
}

.carousel-indicators {
    margin-left: -170px;
    background-color: transparent;
    padding: 10px;
    display: table;
    width: auto;
}

.carousel-indicators li {
    -webkit-border-radius: 0;
    border-radius: 0;
    display: table-cell;
    height: auto;
    width: auto;
}

.carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
.carousel-indicators li.active img {
    opacity: 1;
}
.carousel-indicators li:hover img {
    opacity: 0.75;
    position:relative;
    bottom: 5px;
}

ul.dropdown-cart{
    min-width:275px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}