body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-btn {
    margin-left: 15px;
}

.dropdown-cart {
    min-width:275px;
}

.dropdown-cart li .item {
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}

.dropdown-cart li .item:hover {
    background-color:#f3f3f3;
}

.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.dropdown-cart li .item-left {
    float:left;
}

.dropdown-cart li .item-left img,
.dropdown-cart li .item-left span.item-info {
    float:left;
}

.dropdown-cart li .item-left span.item-info {
    margin-left:10px;   
}

.dropdown-cart li .item-left span.item-info span {
    display:block;
}

.dropdown-cart li .item-right {
    float:right;
}

.dropdown-cart li .item-right button {
    margin-top:14px;
}
